<!DOCTYPE html>
<html>
	<head>
		<title>User Authentification</title>
	</head>
	<body>
		
		<h2>my Movies Xpress!</h2>
		<div style="color: red;"><?php echo $message?></div>
		<p>Enter your username and password</p>
		<form action="./logon.php" method="post">
			<p>
				Username: 
				<input type="text" name="user">
			</p>
			<p>
				Password: 
				<input type="password" name="psw">
			</p>
			<input type="reset" value="Clear">
			<input type="submit" value="Submit">
		</form>
		
		<p><a href="/~cc459284/index.html">ePortfolio</a></p>
		
	</body>
</html>
